<table class="table shipping_infomation">
  <tr>
    <th><%= t ".shipping_address" %></th>
    <td><%= @order.shipping_address %></td>
  </tr>
  <tr>
    <th><%= t ".shipping_date" %></th>
    <td><%= @order.shipping_date %></td>
  </tr>
</table>
