@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: 0px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* homepage */
.sidebar{
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

.sidebar .brand {
  background-color: #E6E6E6;
  line-height: 50px;
  font-weight : bold;
  color: #2E2E2E;
  display: block;
  text-align: center;
  font-size: 14px;
}

.main{
  padding: 20px;
  padding-right: 40px;
  padding-left: 20px;
}

.category{
  text-align: center;
  padding: 10px;
}

.productbox {
  background-color:#ffffff;
  padding:10px;
  margin-bottom:10px;
  -webkit-box-shadow: 0 8px 6px -6px  #999;
  -moz-box-shadow: 0 8px 6px -6px  #999;
  box-shadow: 0 8px 6px -6px #999;
}

.name {
  font-weight:bold;
  padding:5px 0 5px 0;
}

.productprice {
  border-top:1px solid #dadada;
  padding-top:5px;
}

.pricetext {
  font-weight:bold;
  font-size:1.4em;
}

.image{
  border:1px solid #CCCCCC;
  width:50px;
  height:50px;
}

.home_image_prd{
  width:250px;
  height:200px;
}

/* Show product detail */
.infor_prd{
  padding-top:50px;
  line-height: 1.8;
}

.infor_prd li{
  list-style-type:none;
}

.image_prd{
  width:350px;
  height:350px;
  padding:10px;
  border:1px solid #CCCCCC;	
}

.image_prd:hover{
  -ms-transform:scale(1.02);
  -webkit-transform:scale(1.02);
  transform:scale(1.02);
}

.name_prd{
  font-weight:bold;
  font-size:30px;
}

.price_prd{
  color:red;
  font-size:20px;
  font-weight:bold;
}

.des_prd{
  font-size:20px;
}

.comment{
  margin-top:50px;
}

/* Comment */
.btn_post{
  width:70px;
  float:right;
}

.comments {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px 0;
  border-top: 1px solid #e8e8e8;
}

.user {
  margin-top: 5em;
  padding-top: 0;
}

.content {
  display: block;
  margin-left: 60px;
  img {
    display: block;
    padding: 5px 0;
  }
}

.timestamp {
  color: $gray-light;
  display: block;
  margin-left: 60px;
}

.gravatar {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

/* Search form */
.panel{
  border: 0px;
}

.clickable{
  cursor: pointer;   
}

.panel-heading div {
  margin-top: -18px;
  font-size: 15px;
}

.panel-heading div span{
  margin-left:5px;
}

.panel-body{
  display: none;
}

/* newest_product */

.carousel {
  position: relative;
}

.controllers {
  position: absolute;
  top: 50px;
}

.carousel-caption {
 left: 20%;
 right: 20%;
 padding-bottom: 50px;
}

.carousel-control.left, 
.carousel-control.right {
  background-image: none;
}

.carousel-caption{
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding-top: 0;
  padding-bottom: 0;
  color: #000;
  text-align: center;
  text-shadow: none;
  line-height: 1.8;
}

.carousel-caption h2{
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
}

.carousel-indicators{
  bottom: 10px;
}

.carousel-inner .item img{
  width: 100%;
  height: 300px;
}

/* show product -category */
.toolbar{
  background: lightgray;
  padding: 10px;
  width: 100%;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 1.2em;
}
