<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t "layouts.search_form.title" %></h3>
    <div class="pull-right">
      <span class="clickable filter" data-toggle="tooltip" 
        title="Toggle table filter" data-container="body">
        <i class="glyphicon glyphicon-filter"></i>
      </span>
    </div>
  </div>
  <div class="panel-body">
    <input type="text" class="form-control" id="dev-table-filter"
      data-action="filter" data-filters="#dev-table" 
      placeholder=<%= t "layouts.search_form.placeholder" %>/>
  </div>
</div>
